@import 'footer';
@import 'variables';
@import 'mixins';

* {
    margin: 0cm;
    padding: 0cm;
    box-sizing: border-box;
}

.fijado {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 30px;
    right: 30px; }

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo{
    color: #d66d767d;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

.portada{
    width: 100%;
    position: relative;
    height: 640px;
    background: hsla(355, 56%, 63%, 0.694);  
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(9, 61%, 71%, 0.677), #d66d767f);  
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e2958779, #d66d767d), url(../img/resizer\ \(1\).jpg); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

    background-image: url("../img/portada\ nodo.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.wave {
    position: absolute;
    width: 100%;
    bottom: 0;
    -webkit-box-shadow: 10px 10px 40px 0px rgba(181,175,181,1);
-moz-box-shadow: 10px 10px 40px 0px rgba(181,175,181,1);
box-shadow: 10px 10px 40px 0px rgba(181,175,181,1);
}

.contenedor-footer {
    flex-direction: column;
    border: none;
}

.content-foo{
    margin-bottom: 20px;
    text-align: center;
}

.content-foo h4{
border: none;
}

.content-foo p {
    color: #d66d767d;
    border-bottom: 1p solid #38292a7d;
    padding-bottom: 20px;
}

.titulo-final {
    font-size: 20px;
}