@import 'footer';
@import 'variables';
@import 'mixins';
@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100;200;300;500;700&family=IBM+Plex+Sans:wght@100;200;300;400;600&family=Koulen&display=swap');

/*General*/
* {
    margin: 0cm;
    padding: 0cm;
    box-sizing: border-box;
}

/*index*/
.container-Ix {
    display: grid;
    grid-template-columns: 50% 30% 20%;
    grid-template-rows: 20% 40% 20% 20%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "Nav Nav Nav"
        "Back-image Back-image Back-image"
        "Wave Wave Wave"
        "Footer Footer Footer";
}

.Nav {
    grid-area: Nav;
}

.Back-image {
    grid-area: Back-image;
}

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(0deg,
            #d7d4d447,
            rgba(242, 237, 237, 0)), url("../img/22fin.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1 {
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: hsla(8, 57%, 17%, 0.716);
    text-decoration: overline;
}

#hero button {
    font-size: 1.75em;
}

.Footer {
    grid-area: Footer;
}

.foot {
    display: grid;
    grid-template-columns: 20% 30% 50%;
    grid-template-rows: 10% 5%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "Redes Contacto Ubicacion"
}

.Redes {
    grid-area: Redes;
}

.Contacto {
    grid-area: Contacto;
}

.Ubicacion {
    grid-area: Ubicacion;
}

.border-footer {
    background-color: #D9D3D2;
}

footer p {
    margin: 0;
    color: rgb(85, 85, 85);
}

footer .container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

footer .TexF {
    color: rgb(255, 255, 255);
}

footer a {
    text-decoration: none;
    color: rgb(85, 85, 85);
    align-items: center;
    list-style: none;
    list-style: none;
}

.Copyright {
    text-align: center;
}

@media (min-width: 750px) {
    header .Back-image {
        position: fixed;
        width: 100%;
    }

    header .container .Back-image {
        flex-direction: row;
        justify-content: space-between;
    }

    header nav .Back-image {
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #hero h1 .Back-image {
        font-size: 5em;
    }
}

/*Inicio*/

.containerIn {
    display: grid;
    grid-template-columns: 50% 50% 50%;
    grid-template-rows: 20% 20% 20% 20% 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "Header Header ."
        "Nav Nav ."
        "Nos Nos ."
        "Wel Prod ."
        "Footer Footer .";
}

.Header {
    grid-area: Header;
}

.Header-carru {
    margin: 0;
    padding: 25px 30px;
    display: flex
}

.Header-carru {
    flex-direction: row;
    padding-bottom: 0;
    padding-right: 20px;
    justify-content: center;
    width: 100%;
}

.containerIn {
    flex-direction: column;
    align-items: center
}

.Nav {
    grid-area: Nav;
}

.Nos {
    grid-area: Nos;
}

.title {
    text-align: center;
    text-decoration: overline;
    text-transform: uppercase;
    text-decoration-color: rgb(127, 117, 106);
    color: rgb(127, 117, 106);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
}

.title2 {
    text-align: center;
    text-decoration: overline;
    text-transform: uppercase;
    text-decoration-color: rgb(127, 117, 106);
    color: rgb(127, 117, 106);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

.textL {
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: rgb(198, 198, 198);
}

.Vidio {
    width: 5%;
    border-radius: 500px;
    height: 10%;
}

.Image {
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 100px;
}

.Image-2 {
    width: 100%;
    display: flex;
    align-items: center;
}

.Wel {
    grid-area: Wel;
}

.Vid {
    display: grid;
    grid-template-columns: 50% 13.1% 86.9%;
    grid-template-rows: 20% 50%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "Texto Texto Video"
        "Texto Texto Video";
}

.Texto {
    grid-area: Texto;
}

.Video {
    grid-area: Video;
}

.Prod {
    grid-area: Prod;
}

.comparacion {
    justify-items: center;
    align-items: center;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: rgb(198, 198, 198);
}

.Footer {
    grid-area: Footer;
}

.Redes {
    text-decoration: none;
}

/*Tienda*/

.containerTi {
    display: grid;
    grid-template-columns: 50% 50% 50%;
    grid-template-rows: 20% 20% 70% 20% 20%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "Header Header ."
        "Nav Nav ."
        "Tienda Tienda ."
        "Comp Comp ."
        "Footer Footer .";
}

.Header {
    grid-area: Header;
}

.Nav {
    grid-area: Nav;
}

.Tienda {
    grid-area: Tienda;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 0;
}

.card {
    width: 33%;
}

.estilo-a a {
    text-decoration: none;
    color: rgb(100, 100, 100);
}

.estilo-a a:hover {
    text-decoration: underline;
}

.estilo-a .img-container {
    overflow: hidden;
    height: 400px;
    position: relative;
    border-radius: 15px;
}

.estilo-a .img-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.estilo-a .img-container img {
    width: 100%;
    position: absolute;
    top: -25%;
    transition: all 0.5s;
}

.estilo-a:hover .img-container img {
    transform: scale(1.2);
}

.estilo-a .info-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.estilo-a .info-container h3 {
    margin: 0;
}

.estilo-a .info-container h3,
.estilo-a .info-container strong,
.estilo-a .info-container span {
    padding: 5px 15px;
    width: 100%;
}

.card-footer {
    text-align: center;
    justify-content: center;
}

.Comp {
    grid-area: Comp;
}

.Footer {
    grid-area: Footer;
}

/*Contacto*/

.containerCo {
    display: grid;
    grid-template-columns: 50% 50% 50%;
    grid-template-rows: 20% 60% 20%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "Nav Nav ."
        "Form Form ."
        "Footer Footer .";
}

.Form {
    grid-area: Form;
}

.Footer {
    grid-area: Footer;
}

.Nav {
    grid-area: Nav;
}

/*Galeria*/

.containerGa {
    display: grid;
    grid-template-columns: 50% 50% 50%;
    grid-template-rows: 20% 70% 20%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "Nav Nav ."
        "Galeria Galeria ."
        "Footer Footer .";
}

.Footer {
    grid-area: Footer;
}

.Nav {
    grid-area: Nav;
}

.Galeria {
    grid-area: Galeria;
}

.estilo-b {
    font-family: sans-serif;
    text-align: center;
}

.estilo-b .img-container {
    overflow: hidden;
    position: relative;
}

.estilo-b .img-container img {
    width: 100%;
}

.estilo-b .img-container .promo {
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 20px;
    background: white;
    padding: 15px;
    color: black;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}

.estilo-b .img-container .favorite {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.estilo-b .img-container .favorite svg {
    transform: translatey(14px);
}

.estilo-b .img-container .favorite:hover {
    background: rgb(147, 145, 145);
}

.estilo-b .img-container .favorite:hover svg {
    fill: white;
}

.estilo-b a {
    display: inline-block;
    margin-top: 2px;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 15px;
    border: 1px solid black;
}

.estilo-b a:hover {
    color: black;
    background-color: transparent;
    border: 1px solid black;
}

/*Tips*/

.containerTp {
    display: grid;
    grid-template-columns: 50% 50% 50%;
    grid-template-rows: 20% 70% 20%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "Nav Nav ."
        "Tips Tips ."
        "Footer Footer .";
}

.Nav {
    grid-area: Nav;
}

.Tips {
    grid-area: Tips;
}

.Footer {
    grid-area: Footer;
}

@media (min-width: 850px) {
    footer .container {
        justify-content: flex-end;
    }
}

/*Fotos*/

.containerFo {
    display: grid;
    grid-template-columns: 50% 50% 50%;
    grid-template-rows: 20% 70% 20%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "Nav Nav ."
        "Fotos  Fotos ."
        "Footer Footer .";
}

.Nav {
    grid-area: Nav;
}

.Fotos {
    grid-area: Galeria;
}

section {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px 0;
}

section h2 {
    width: 100%;
    color: #999;
    font-family: monospace;
}

.card {
    width: 33.333333%;
}

/* Estilo A */
.estilo-c {
    font-family: sans-serif;
}

.estilo-c a {
    text-decoration: none;
    color: black;
}

.estilo-c a:hover {
    text-decoration: underline;
}

.estilo-c .img-container {
    overflow: hidden;
    height: 400px;
    position: relative;
}

.estilo-c .img-container img {
    width: 100%;
    position: absolute;
    top: -25%;
    transition: all 0.5s;
}

.estilo-c:hover .img-container img {
    transform: scale(1.2);
}

.Footer {
    grid-area: Footer;
}