@import 'footer';
@import 'variables';
@import 'mixins';

/*General*/
* {
    margin: 0cm;
    padding: 0cm;
    box-sizing: border-box;
}

.fijado {
    width: 20%;
    height: auto;
    position: fixed;
    bottom: 30px;
    right: 30px;
}
/*index*/
.container {
    display: grid;
    grid-template-columns: 50% 50% 30%;
    grid-template-rows: 20% 40% 20% 20%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "Nav Nav Nav"
        "Back-image Back-image Back-image"
        "Wave Wave Wave"
        "Footer Footer Footer";
}

.Nav {
    grid-area: Nav;
}

.Back-image {
    grid-area: Back-image;
}

.portada {
    background-color: hsla(34, 78%, 91%, 0.639);
}

.Wave {
    grid-area: Wave;
}

.Footer {
    grid-area: Footer;
}

.wave {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #d66d767d;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

.portada {
    width: 100%;
    position: relative;
    height: auto;
}

.contenedor-footer {
    flex-direction: column;
    border: none;
}

.content-foo {
    margin-bottom: 20px;
    text-align: center;
}

.content-foo h4 {
    border: none;
}

.content-foo p {
    color: #d66d767d;
    border-bottom: 1p solid #38292a7d;
    padding-bottom: 20px;
}

.titulo-final {
    font-size: 20px;
}

.Tit-portada {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Responsive*/
@media and (max-width: 768px; ) 
    .container {
        grid-template-areas:
            "Nav Nav Nav"
            "Back-image Back-image Wave"
            "Footer Footer Footer";
    }
