//mapa de colores
$colors:(primary: rgb(201, 170, 176),primary-light:lighten( rgb(201, 170, 176),40%),primary-dark:darken( rgb(201, 170, 176),10%),text-light:( rgb(201, 170, 176),60%), text-dark:darken( rgb(201, 170, 176),40%));

//breakpoint
$desktop:992px;

//medidas varias
$padding:15px;
$radius:15px;

//sombreado
$shadow:0 10px 30px rgba(0, 0, 0, .4);

//tipografía
$font-title:'Montserrat Alternates', sans-serif;
$font: 'Montserrat';
