
:root{

    /* Paleta de colores */
    --negro         : #403D3C;
    --blanco        : #F2EBEB;

    --rojo          : #A64C44;
    --rojoO         : #70342e;

    --rosa          : #D9AFA0;
    --rosado        : #D99696;
    --celeste       : #97A69C;
    --azul          : #365359;

    --gris          : #BFBBBA;
    --grisaceo      : #8C8988;

    /* Tipografía */
    --tipo-principal  : Verdana, Geneva, Tahoma, sans-serif;
}
