@import 'footer';
@import 'variables';
@import 'mixins';
@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100;200;300;500;700&family=IBM+Plex+Sans:wght@100;200;300;400;600&family=Koulen&display=swap');

/*General*/
* {
    margin: 0cm;
    padding: 0cm;
    box-sizing: border-box;
}

/*Footer*/
.foot {
    display: grid;
    grid-template-columns: 20% 30% 50%;
    grid-template-rows: 10% 5%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "Redes Contacto Ubicacion"
}

.Redes {
    grid-area: Redes;
}

.Contacto {
    grid-area: Contacto;
}

.Ubicacion {
    grid-area: Ubicacion;
}

.border-footer {
    background-color: #A64C44;
}

footer p {
    margin: 0;
    color: #70342e;
}

footer .container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

footer .TexF {
    color: rgb(255, 255, 255);
}

footer a:hover {
    /* No puedo centrar los textos y hacer que cambien de */
    text-decoration: underline;
    color: rgb(41, 44, 42);
    align-items: center;
}

.Copyright {
    text-align: center;
}

@media (min-width: 750px) {
    /* No puedo centrar los textos
    justify-content: center;
    align-items: flex-end; */
}

/*index*/
.container-Ix {
    display: grid;
    grid-template-columns: 50% 30% 20%;
    grid-template-rows: 20% 40% 20% 20%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "Nav Nav Nav"
        "Back-image Back-image Back-image"
        "Wave Wave Wave"
        "Footer Footer Footer";
}

.Nav {
    grid-area: Nav;
}

.Back-image {
    grid-area: Back-image;
}

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 72vh;
    background-image: linear-gradient(0deg,
            #ffffff47,
            rgba(242, 237, 237, 0)), url("../img/P22.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1 {
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: hsla(0, 0%, 4%, 0.716);
    text-decoration: overline;
    justify-content: center;
}

#hero button {
    font-size: 1.75em;
}

.Footer {
    grid-area: Footer;
}

@media (min-width: 750px) {
    header .Back-image {
        /* No puedo achicar la imagen */
        position: fixed;
        width: 50%;
    }

    header .container .Back-image {
        flex-direction: row;
        justify-content: space-between;
    }

    header nav .Back-image {
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    /*Ponerle color al cambio de tamano
    background-color: #F2EBEB; */
}

/*Inicio*/
.containerIn {
    display: grid;
    grid-template-columns: 50% 50% 50%;
    grid-template-rows: 20% 20% 20% 20% 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "Header Header ."
        "Nav Nav ."
        "Wel Prod ."
        "Nos Nos ."
        "Footer Footer .";
}

.Header {
    grid-area: Header;
}

.img-H {
    display: flex;
    width: 1400px;
    align-items: center;
    justify-content: center;
}

@media (min-width: 750px) {
        /*No puedo centrar las imagenes y reducir el tamano*/
}

.Header-carru {
    display: flex;
    flex-direction: row;
    padding-bottom: 0;
    padding-right: 20px;
    justify-content: center;
    width: 100%;
    /* No puedo agrandar las imagenes */
}

.containerIn {
    flex-direction: column;
    align-items: center
}

.Nav {
    grid-area: Nav;
}

.Wel {
    grid-area: Wel;
}

.Wel {
    background-color: #93A49D;
    justify-content: center;
    align-items: center;
}

.title-B {
    text-align: center;
    text-decoration: overline;
    text-transform: uppercase;
    text-decoration-color: #DAF1E3;
    color: #DAF1E3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
}

.Image-B {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    /*No puedo centrar la imagen*/
}

.Vidio-B {
    width: 1%;
    border-radius: 500px;
    height: 1%;
    /*No puedo achicar el video*/
}

.textB {
    text-align: justify;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #365359;
}

.inv {
    color: #93A49D;
}

.Nos {
    grid-area: Nos;
}

.testimony {
    background-color: #AC9E97;
} /*Hacer que el texto se vea al achicar la pag en las caras*/

.title-N {
    text-align: center;
    text-decoration: overline;
    text-transform: uppercase;
    text-decoration-color: #8C8988;
    color: #8C8988;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
}

.textN {
    text-align: justify;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #8C8988;
}

.img-I{
    height: 90px;
}

.Image {
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 100px;
}

.Prod {
    grid-area: Prod;
}

.text-marg{
    margin: 50px;
    padding: 20px;
}

.Footer {
    grid-area: Footer;
}

.Redes {
    text-decoration: none;
}

/*Tienda*/

.containerTi {
    display: grid;
    grid-template-columns: 50% 50% 50%;
    grid-template-rows: 20% 20% 70% 20% 20%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "Nav Nav ."
        "Header Header ."
        "Tienda Tienda ."
        "Comp Comp ."
        "Footer Footer .";
}

.Nav {
    grid-area: Nav;
}

.Header {
    grid-area: Header;
}

.Tienda {
    grid-area: Tienda;
}
/*Hacer que se vea de a una carta en la version chica y que los filtros no se vean azules*/

.title-T {
    text-align: center;
    text-decoration: overline;
    text-transform: uppercase;
    text-decoration-color: #8C8988;
    color: #8C8988;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
}

.textT {
    text-align: justify;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #8C8988;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 0;
}

.card {
    width: 33%;
}

.estilo-a a {
    text-decoration: none;
    color: rgb(100, 100, 100);
}

.estilo-a a:hover {
    text-decoration: underline;
}

.estilo-a .img-container {
    overflow: hidden;
    height: 400px;
    position: relative;
    border-radius: 15px;
}

.estilo-a .img-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.estilo-a .img-container img {
    width: 100%;
    position: absolute;
    top: -25%;
    transition: all 0.5s;
}

.estilo-a:hover .img-container img {
    transform: scale(1.2);
}

.estilo-a .info-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.estilo-a .info-container h3 {
    margin: 0;
}

.estilo-a .info-container h3,
.estilo-a .info-container strong,
.estilo-a .info-container span {
    padding: 5px 15px;
    width: 100%;
}

.card-footer {
    text-align: center;
    justify-content: center;
}

.Comp {
    grid-area: Comp;
}

.Comp{
    justify-content: center;
    align-items: center;
    margin: 40px;
}

.list-group{
    margin: 20px;
}

.lista-inicial{
    background-color: hsla(12, 4%, 74%, 0.081);
}

.Footer {
    grid-area: Footer;
}

/*Contacto*/

.containerCo {
    display: grid;
    grid-template-columns: 50% 50% 50%;
    grid-template-rows: 20% 60% 20%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "Nav Nav ."
        "Form Form ."
        "Footer Footer .";
}

.Nav {
    grid-area: Nav;
}

.Form {
    grid-area: Form;
}

.text-F{
    text-align: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #403D3C;
    font-size:large;
}

.Formulario-1{
    background-color: #D9AFA0;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 0px #8C8988;
}

.Formulario-2{
    background-color: hsla(16, 43%, 74%, 0.485);
    border-radius: 10px;
    box-shadow: 3px 3px 5px 0px #8C8988;
}

.text-P{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:small;
}

.Footer {
    grid-area: Footer;
}

/*Noticias*/

.containerGa {
    display: grid;
    grid-template-columns: 50% 50% 50%;
    grid-template-rows: 20% 70% 20%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "Nav Nav ."
        "Galeria Galeria ."
        "Footer Footer .";
}

.Nav {
    grid-area: Nav;
}

.Galeria {
    grid-area: Galeria;
}

.estilo-b {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.estilo-b .img-container {
    overflow: hidden;
    position: relative;
}

.estilo-b .img-container img {
    width: 100%;
}

.estilo-b .img-container .promo {
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 20px;
    background: white;
    padding: 15px;
    color: #A64C44;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}

.estilo-b .img-container .favorite {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.estilo-b .img-container .favorite svg {
    transform: translatey(14px);
}

.estilo-b .img-container .favorite:hover {
    background: #A64C44;
}

.estilo-b .img-container .favorite:hover svg {
    fill: white;
}

.estilo-b a {
    display: inline-block;
    margin-top: 2px;
    text-decoration: none;
    color: white;
    background-color: #A64C44;
    padding: 15px;
    border: 1px solid #A64C44;
}

.estilo-b a:hover {
    color: black;
    background-color: transparent;
    border: 1px solid black;
}

/*efecto-hover*/
.contenedor {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
}

.contenedor figure {
    position: relative;
    height: 250px;
    cursor: pointer;
    width: 280px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.50);
}

.contenedor figure img {
    width: 100%;
    height: 100%;
    transition: all 400ms ease-out;
    will-change: transform;
}

.contenedor figure .capa {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(115, 98, 104, 0.7);
    transition: all 400ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.contenedor figure:hover>.capa {
    opacity: 1;
    visibility: visible;
}

.contenedor figure:hover>.capa h3 {
    margin-top: 70px;
    margin-bottom: 15px;
}

.contenedor figure:hover>img {
    transform: scale(1.3);
}

.contenedor figure .capa h3 {
    color: #fff;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 400ms ease-out;
    margin-top: 30px;
}

.contenedor figure .capa p {
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
}

.Footer {
    grid-area: Footer;
}

/*Tips*/

.containerTp {
    display: grid;
    grid-template-columns: 50% 50% 50%;
    grid-template-rows: 20% 70% 20%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "Nav Nav ."
        "Tips Tips ."
        "Footer Footer .";
}

.Nav {
    grid-area: Nav;
}

.Tips {
    grid-area: Tips;
}

.Footer {
    grid-area: Footer;
}

.lineaT {
    border-top: 2px solid hsla(24, 2%, 54%, 0.228);
    margin-bottom: 40px;
}

@media (min-width: 850px) {
    footer .container {
        justify-content: flex-end;
    }
}

/*Fotos*/

.containerFo {
    display: grid;
    grid-template-columns: 50% 50% 50%;
    grid-template-rows: 20% 70% 20%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "Nav Nav ."
        "Fotos  Fotos ."
        "Footer Footer .";
}

.Nav {
    grid-area: Nav;
}

.Fotos {
    grid-area: Galeria;
}

section {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px 0;
}

section h2 {
    width: 100%;
    color: #999;
    font-family: monospace;
}

.card {
    width: 33.333333%;
}

.estilo-c {
    font-family: sans-serif;
}

.estilo-c a {
    text-decoration: none;
    color: black;
}

.estilo-c a:hover {
    text-decoration: underline;
}

.estilo-c .img-container {
    overflow: hidden;
    height: 400px;
    position: relative;
}

.estilo-c .img-container img {
    width: 100%;
    position: absolute;
    top: -25%;
    transition: all 0.5s;
}

.estilo-c:hover .img-container img {
    transform: scale(1.2);
}

.gallery__img{
    width: 20px;
}

/*Galeria nuevo*/
.galeria {
    font-family: 'open sans';
}

.galeria h1 {
    text-align: center;
    margin: 20px 0 15px 0;
    font-weight: 300;
}

.linea {
    border-top: 5px solid #8C8988;
    margin-bottom: 40px;
}

.contenedor-imagenes {
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 3px;
}

.contenedor-imagenes .imagen {
    width: 32%;
    position: relative;
    height: 250px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75)
}

.imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #8c898884;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .5s ease;
}

.overlay h2 {
    color: #fff;
    font-weight: 300;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.imagen:hover .overlay {
    height: 100%;
    cursor: pointer;
}

@media screen and (max-width:1000px) {
    .contenedor-imagenes {
        width: 95%;
    }
}

@media screen and (max-width:700px) {
    .contenedor-imagenes {
        width: 90%;
    }

    .contenedor-imagenes .imagen {
        width: 48%;
    }
}

@media screen and (max-width:450px) {
    h1 {
        font-size: 22px;
    }

    .contenedor-imagenes {
        width: 98%;
    }

    .contenedor-imagenes .imagen {
        width: 80%;
    }
}

.Footer {
    grid-area: Footer;
}